
 header > h3 {display: inline-block}
 header > nav {float: right}
 header > nav > ul li {
     float: left;
     margin: 0 10px;
     list-style: none;
     a {}

     header > nav > ul li {
         header > nav > ul li : f;
         float: left;
         margin: 0 10px;
         list-style: none;
     }

     header {
         background-color: gold;
         padding: 10px 15px;
     }

     header > nav > ul li > a {
         text-decoration: none;
         color: #03A9F4;
         font-family: helvetica, arial;
     }

     body {
         margin: 0;
     }

     header > nav > ul {
         margin: 0;
         padding: 0;
     }
